@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    list-style: none;
    outline: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #000000fc;
    font-family: 'Roboto', 'Roboto Condensed', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  .navigation__list.open {
    transition: 0.4s ease-in;
    top: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 450px) {
    .navigation_form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
